.container{
    margin-right: 40px;
    padding: 35px;
    border-radius: 16px;
    margin: auto;
    max-width: 500px;
    background: white;
    padding: 10px;
}
.img-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    
}
.title-forgot{
    font-family: "Courgette";
    text-align: center;

    
}
@media only screen and (max-width: 768px) {
    .container{
        max-width: 350px;
    }
    .img-logo{
        width: 40%;
        
    }
  }