.main-newPost{
    margin-right: 40px;
    padding: 25px;
    border-radius: 16px;
    margin: auto;
    max-width: 500px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
}
@media only screen and (max-width: 768px) {
    .main-newPost{
        max-width: 300px;
    }
    
}
