.card .card-header {
    padding: 0;
}
.card-header {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
}
.main-post {
    width: 100%;
    margin: auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-cover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.container .loader span {
    left: 48%;
    margin-top: 20px;
    margin: auto;
}
.post-link {
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
}
.card-img-top {
    object-fit: cover;
    max-height: 700px;
}
.card-text {
    padding: 5px 5px;
}
.post-name-link {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
@media screen and (max-width: 480px) {
    .main-content {
        width: 100%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .main-content {
        width: 60%;
    }
}
