.main-content {
    width: 60%;
    margin: auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.edit-post:hover {
    text-decoration: none;
    color: #000;
}
.edit-post {
    color: #000;
}
.back-to-post {
    color: #000;
}
.card-header{
    
}
.card-img-top{
    max-height: 700px;
    width: 100%;
    object-fit: cover;
}
.back-to-post:hover {
    text-decoration: none;
    color: #000;
}
.options-post {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    border-bottom: 1px solid #d3d3d3;
}
.option-item {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 768px) {
    #main-post {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .main-content {
        width: 100%;
    }
}
@media only screen and (max-width: 601px) {
    #main-post {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .main-content {
        width: 100%;
    }
}
